/* Area where markdown is written */
.bangle-editor {
  padding: 5px 10px;
  overflow: scroll;
  height: calc(100vh - 110px);
  width: 70vw;
  background-color: white;
}

.bangle-editor.ProseMirror-focused:focus-visible {
  outline: none;
}

.front-matter-container {
  background-color: bisque;
  border-radius: 5px;
  padding: 15px;
}

/* Area that contains the bangle editor and static menu */
.editor-area {
  grid-area: editor;
  height: calc(100vh - 70px);
  background-color: lightgrey;
}

/* Area that contains file list */
.sidebar {
  grid-area: sidebar;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}

ul.fileList {
  padding-left: 20px;
}

.closed li {
  display: none;
}

span.arrow {
  margin-left: -20px;
  padding-right: 8px;
}

span.ItemName {
  padding-left: 5px;
}

.activeFile {
  background-color: blue;
}

/* Footer area */
.footer {
  grid-area: footer;
  max-height:10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: -moz-hidden-unscrollable;
}

/* App as a whole */
.App {
  height: calc(100vh-10px);
  width: 100vw;
  display: grid;
  grid-template-areas:
  'sidebar editor editor editor'
  'footer footer footer footer';
  gap: 5px;
  background-color: lightgray;
  padding: 10px;
  overflow: -moz-hidden-unscrollable;
}

.App > div {
  padding: 10px 10px;
}
